In [108]:
import pandas as pd
import numpy as np

In [109]:
immo = pd.read_csv('../../data/join/immo_by_year.csv',sep=',',dtype= {'code_commune' : str})

In [110]:
immo.shape

(232722, 18)

In [111]:
immo.head()

,id_bien,code_commune,nom_commune,type_local,code_type_local,nombre_pieces_principales,nb_mutation_2014,nb_mutation_2015,nb_mutation_2016,nb_mutation_2017,surface_2014,surface_2015,surface_2016,surface_2017,valeur_2014,valeur_2015,valeur_2016,valeur_2017
0,01001_1_2,01001,L'Abergement-Clémenciat,Maison,1.0,2.0,0.0,1.0,1.0,2.0,0.0,79.00,86.0,69.5,0.000000,80000.0000,328000.0,85000.000000
1,01001_1_3,01001,L'Abergement-Clémenciat,Maison,1.0,3.0,1.0,1.0,1.0,2.0,62.0,75.00,75.0,93.5,134750.000000,140000.0000,189000.0,224320.000000
2,01001_1_4,01001,L'Abergement-Clémenciat,Maison,1.0,4.0,3.0,2.0,2.0,6.0,100.0,94.00,121.5,100.0,110666.666667,198000.0000,206000.0,211766.666667
3,01001_1_5,01001,L'Abergement-Clémenciat,Maison,1.0,5.0,2.0,4.0,0.0,5.0,102.0,99.75,0.0,172.8,211500.000000,185500.3325,0.0,251600.000000
4,01002_1_1,01002,L'Abergement-de-Varey,Maison,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.00,50.0,52.0,0.000000,0.0000,28500.0,78560.000000

### Enlever les lignes où le nombre de mutations est inférieure à 10 toute années confondues

In [112]:
cols = immo.columns.values
col_to_filer = "nb_mutation"

In [113]:
filtre = True
for col in cols:
    start_with = col.startswith(col_to_filer)
    if start_with:

        filtre = filtre & np.array(list(immo[col] >= 10))
immo_filtrer = immo[filtre]

In [114]:
immo_filtrer.sort_values(by=['nb_mutation_2015']).head()

,id_bien,code_commune,nom_commune,type_local,code_type_local,nombre_pieces_principales,nb_mutation_2014,nb_mutation_2015,nb_mutation_2016,nb_mutation_2017,surface_2014,surface_2015,surface_2016,surface_2017,valeur_2014,valeur_2015,valeur_2016,valeur_2017
114806,74279_2_3,74279,Thollon-les-Mémises,Appartement,2.0,3.0,13.0,10.0,13.0,12.0,42.153846,46.7,48.076923,47.166667,136392.692308,147005.87,139437.692308,132632.083333
7810,06084_1_5,06084,Mouans-Sartoux,Maison,1.0,5.0,14.0,10.0,20.0,20.0,142.928571,141.1,144.550000,132.300000,616932.142857,582165.00,587402.000000,670392.650000
123094,78531_1_5,78531,Rosny-sur-Seine,Maison,1.0,5.0,15.0,10.0,15.0,15.0,99.000000,107.6,119.400000,104.866667,212052.466667,203990.00,302333.333333,213350.000000
63186,40296_1_5,40296,Seignosse,Maison,1.0,5.0,12.0,10.0,19.0,18.0,137.166667,136.9,132.210526,134.722222,423900.500000,466219.00,507694.684211,559777.777778
115036,74309_2_2,74309,Viry,Appartement,2.0,2.0,23.0,10.0,18.0,11.0,44.826087,50.9,48.111111,49.090909,188793.228261,197450.00,195460.000000,188100.000000

### Tronquer les valeurs

In [115]:
col_types = immo_filtrer.dtypes
float_filter = immo_filtrer.dtypes == "float64"

In [116]:
immo_filtrer.loc[:,float_filter] = immo_filtrer.loc[:,float_filter].astype(int)

/home/yopla/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [117]:
immo_filtrer.head()

,id_bien,code_commune,nom_commune,type_local,code_type_local,nombre_pieces_principales,nb_mutation_2014,nb_mutation_2015,nb_mutation_2016,nb_mutation_2017,surface_2014,surface_2015,surface_2016,surface_2017,valeur_2014,valeur_2015,valeur_2016,valeur_2017
11,01004_2_2,01004,Ambérieu-en-Bugey,Appartement,2,2,18,29,23,31,49,46,48,53,111708,135832,109868,114860
12,01004_2_3,01004,Ambérieu-en-Bugey,Appartement,2,3,27,25,31,40,68,66,70,68,145640,228933,157862,134063
13,01004_2_4,01004,Ambérieu-en-Bugey,Appartement,2,4,12,15,12,19,91,84,84,85,170139,164376,164192,153145
17,01004_1_3,01004,Ambérieu-en-Bugey,Maison,1,3,11,19,18,18,70,70,81,77,146907,136137,240501,140809
18,01004_1_4,01004,Ambérieu-en-Bugey,Maison,1,4,26,40,30,43,90,94,90,94,170751,198379,183529,187121

In [118]:
immo_filtrer.to_csv('../../data/join/immo_filtrer.csv',index=False)