In [60]:
import pandas as pd

### Import des pop

In [61]:
years = ["2014","2015","2016"]

In [62]:
data_pop = {}
for year in years:
    pop = pd.read_csv('../../data/population/pop_commune_'+ year + '_clean.csv',sep=',',dtype= {'code_commune' : str})
    pop.rename(columns = {'population_totale' : 'pop_' + year},inplace=True)
    data_pop[year] = pop

### Import de immo by year

In [63]:
immo = pd.read_csv('../../data/join/immo_filtrer.csv',sep=',',dtype= {'code_commune' : str})

In [64]:
immo.head()

,id_bien,code_commune,nom_commune,type_local,code_type_local,nombre_pieces_principales,nb_mutation_2014,nb_mutation_2015,nb_mutation_2016,nb_mutation_2017,surface_2014,surface_2015,surface_2016,surface_2017,valeur_2014,valeur_2015,valeur_2016,valeur_2017
0,01004_2_2,01004,Ambérieu-en-Bugey,Appartement,2,2,18,29,23,31,49,46,48,53,111708,135832,109868,114860
1,01004_2_3,01004,Ambérieu-en-Bugey,Appartement,2,3,27,25,31,40,68,66,70,68,145640,228933,157862,134063
2,01004_2_4,01004,Ambérieu-en-Bugey,Appartement,2,4,12,15,12,19,91,84,84,85,170139,164376,164192,153145
3,01004_1_3,01004,Ambérieu-en-Bugey,Maison,1,3,11,19,18,18,70,70,81,77,146907,136137,240501,140809
4,01004_1_4,01004,Ambérieu-en-Bugey,Maison,1,4,26,40,30,43,90,94,90,94,170751,198379,183529,187121

### Join

In [65]:
data_pop["2016"].head()

  code_commune  pop_2016
0        01001       785
1        01002       244
2        01004     14518
3        01005      1705
4        01006       116

In [66]:
immo.shape

(9253, 18)

In [67]:
immo_pop = immo
for year in years:
    immo_pop = pd.merge(immo_pop, data_pop[year], on='code_commune', how='inner')

In [68]:
immo_pop.head()

,id_bien,code_commune,nom_commune,type_local,code_type_local,nombre_pieces_principales,nb_mutation_2014,nb_mutation_2015,nb_mutation_2016,nb_mutation_2017,...,surface_2015,surface_2016,surface_2017,valeur_2014,valeur_2015,valeur_2016,valeur_2017,pop_2014,pop_2015,pop_2016
0,10268_1_4,10268,Nogent-sur-Seine,Maison,1,4,15,11,14,12,...,86,94,85,126139,131788,153442,133541,6099,6081,6092
1,10323_1_3,10323,Romilly-sur-Seine,Maison,1,3,58,53,46,61,...,69,66,71,85131,70899,77799,69112,14617,14808,14783
2,10323_1_4,10323,Romilly-sur-Seine,Maison,1,4,34,44,46,54,...,89,84,83,115841,100668,97592,111657,14617,14808,14783
3,10323_1_5,10323,Romilly-sur-Seine,Maison,1,5,18,14,22,23,...,97,104,111,138056,101857,112113,116260,14617,14808,14783
4,10325_1_4,10325,Rosières-près-Troyes,Maison,1,4,18,11,14,13,...,95,98,93,161920,171600,174245,182324,4178,4294,4409

In [69]:
immo_pop.to_csv('../../data/join/join_immo_pop.csv',index=False)